
header{
    display: flex;  
    justify-content: left;
    background-color: black;
    color: white;
    font-size: 75px;
    align-items: center;
}


main{
    font-size: 20px;
   
}



#fromstyle{
    align-content: center;
}

